.carouselContainer {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.fullImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}